<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.zeroh729.com.pcari">

    <application
        android:name=".Pcari_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.MainActivity_"
            android:label="List of Surveys">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.CreateSurveyActivity_"
            android:label="Create a Survey"/>
        <activity
            android:name=".ui.activities.ManageSurveyActivity_"
            android:label="Manage your surveys">
        </activity>
        <activity
            android:name=".ui.activities.RateResponsesActivity_"
            android:label="Rate other's responses">
        </activity>
        <activity
            android:name=".ui.activities.SuccessFeedbackActivity_"/>
        <activity
            android:name=".ui.activities.AnswerSurveyActivity_"
            android:label="Answer Survey"/>

    </application>


</manifest>